*{
    padding: 0;
    margin: 0;
}
:root {
    --main--color: #2a9d8f
}

body{
    font-family: 'Fuggles', cursive;
font-family: 'Marhey', sans-serif;
font-family: 'Noto Kufi Arabic', sans-serif;
font-family: 'Rubik', sans-serif;
}

/* start Criminals */
.Criminals {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color:  #000000d4;
  z-index: 1000;
  display: none;
}

.Criminals form {
  position: absolute;
width: 40%;
height: 600px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
direction: rtl;
display: flex;
flex-wrap: wrap;
}
.Criminals form input{
width: 100%;
margin: 5px;
height: 60px;
background-color: #eee;
border-radius: 20px;
border: none;
font-size: 20px;
padding: 0 20px;
}
.Criminals form input.submit:hover {
  color: #fff;
  background-color: red;
  }


/* end Criminals */

.cover {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #fff;
}
.cover img {
    width: 40%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.socialemedia {
    position: fixed;
    left: 0;
    top: 45%;
    z-index: 500;
}

.socialemedia i{
   width: 50px;
   height: 50px;
   color: #fff;
   text-align: center;
   font-size: 30px;
   line-height: 1.7;
   cursor: pointer;
}
/* start saidbar */
.saidbar {
  position: fixed;
  z-index: 700;
  width: 200px;
  background-color: #000000d4;
  right: -220px;
  top: 0;
  height: 100%;
  text-align: end;
  padding-right: 20px;
  transition: .5s;
}
.saidbar form{
margin: 30px 20px;
}
.saidbar form input{
  height: 30px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 5px;
  direction: rtl;
  }
.translat {
right: 0;
}

.saidbar .fa-angles-up {
  transform: rotate(-90deg);
  position: absolute;
  left: -25px;
 top: 200px;
 font-size: 25px;
 color: #fff;
 cursor: pointer;
}
.saidbar form label {
  position: relative;
}
.saidbar form label  .fa-magnifying-glass{
position: absolute;
top: -22px;
left: -150px;
cursor: pointer;
}
.saidbar::before {
 content: "";
 position: absolute;
 width: 30px;
 height: 30px;
 background-color: #000000d4;
 left: -30px;
 top: 198px;
 border-radius: 5px 0 0 5px;
text-align: center;
}


.saidbar ul{
list-style: none;
text-align: end;
}

.saidbar ul li{
  margin: 15px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  height: 100%;
  }

  .saidbar ul li:hover{
  padding-right: 20px;
  color: red;
  transition: .5s;
    }

/* end saidbar */


.headbar {
    width: 100%;
    background-color: #222;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.right {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    position: relative;
}
/* .right::before {
    content: "";
    position: absolute;
    width: 1px;
    background-color: black;
    height: 40px;
    left: 180px;
}  */

.righthb {
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 13px;
    
}
.rightlink {
    color: #fff;
    padding: 13px;
}

.rightlink ul {
   list-style: none;
   display: flex;
}
.rightlink ul li{
   margin-right: 10px;
   margin-left: 10px;
   cursor: pointer;
 }
 .rightlink ul li:hover{
   color: red;
   transition: .5s;
  }
  .left {
    color: #fff;
    /* border: 1px solid black;
    padding: 13px; */
    margin-left: 50px;
  }
  .left i{
    color: #fff;
   margin-left: 10px;
   margin-right: 10px;
   cursor: pointer;
  }
  .left i:hover{
    color:red;
  transition: .5s;
  }
  .logo {
    width: 100%;
    height: 150px;
    position: relative;
  }
  .logo img {
    width: 200px;
    position: absolute;
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
    
  }
  .navbar {
    width: 80%;
    height: 60px;
    border-top: 2px solid black ;
    border-bottom: 2px solid black ;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .navbar ul{
    width: 97%;
    direction: rtl;
    list-style: none;
    display: flex;
  }

  .navbar ul li{
padding: 21px 7px 20px;
 font-weight: bold;
 cursor: pointer;
  }
  .navbar ul li:hover{
   color: #fff;
   background-color: red;
   transition: .5s;
     }

.navbar button {
    background-color: none;
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}
.navbar button:hover {
    background-color: red;
    color: #fff;
   
    
}
.news {
    width: 80%;
    height: 40px;
    margin: 20px auto;
    background-color: #ccc;
    position: relative;
    display: flex;
    align-items: center;
}
.news .impnews {
 position: absolute;
 right: 0;
 text-align: center; 
 font-weight: bold;
 background-color: red;
 color: #fff;
 padding: 10px;
}
.news p {
    position: absolute;
 right: 100px;
   }

   .news button {
    margin-left: 5px;
    padding: 5px;
    border: none;
   }
   .begphoto {
    width: 80%;
    margin: auto;
   }

   .begphoto {
    width: 80%;
    max-height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 500px;
   }
   .begphoto div{
    width: 50%;
    height: 370px;
    overflow: hidden;
   }

   .begphoto div img{
    width: 100%;
 
   }


