*{
    padding: 0;
    margin: 0;
}
:root {
    --main--color: #2a9d8f
}

body{
    font-family: 'Fuggles', cursive;
font-family: 'Marhey', sans-serif;
font-family: 'Noto Kufi Arabic', sans-serif;
font-family: 'Rubik', sans-serif;
}
/* scrool start */
.scrool {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: fixed;
  left: 80px;
  bottom: 10px;
  display: none;
  cursor: pointer;
  z-index: 10;
  background-color: red;
}
.scrool i{
  font-size: 18px;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 10px;
  color: #fff;
  
}
/* scrool end */
/* start Criminals */
.Criminals {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color:  #000000d4;
  z-index: 1000;
  display: none;
}

.Criminals form {
  position: absolute;
width: 70%;
height: 600px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
direction: rtl;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;

}
.Criminals form input{
width: calc(95% - 40px) / 2;
/* margin: 5px; */
height: 50px;
background-color: #eee;
border-radius: 20px;
border: none;
font-size: 20px;
padding: 0 20px;
}

.Criminals form textarea{
  width: 100%;
  margin: 5px;
  height: 100px;
  background-color: #eee;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  padding: 0 20px;
  }

  .Criminals span{
position: absolute;
width: 30px;
height: 30px;
background-color: #fff;
color: black;
font-weight: bold;
text-align: center;
border-radius: 50%;
font-size: 25px;
cursor: pointer;
top: 30px;
right: 30px;
    }

    
.Criminals form input.submit{
 cursor: pointer;
 transition: .5s;
  }



.Criminals form input.submit:hover {
  color: #fff;
  background-color: red;

  }


/* end Criminals */

.cover {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #fff;
}
.cover img {
    width: 40%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.socialemedia {
    position: fixed;
    left: 0;
    top: 45%;
    z-index: 500;
}

.socialemedia div  {
   width: 50px;
   height: 50px;
   color: #fff;
   text-align: center;
   font-size: 30px;
   line-height: 1.7;
   cursor: pointer;
   position: relative;
}

.socialemedia a{
position:relative;
width: 100%;
height: 100%;
z-index: 501;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
}
.socialemedia a i{
text-align: center;
color: #fff;
/* position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); */
  }
/* start saidbar */
.saidbar {
  position: fixed;
  z-index: 700;
  width: 200px;
  background-color: #000000d4;
  right: -220px;
  top: 0;
  height: 100%;
  text-align: end;
  padding-right: 20px;
  transition: .5s;
}
.saidbar form{
margin: 30px 20px;
}

.saidbar form h2{
  margin: 30px 20px;
  color: red;
  }
.saidbar form input{
  height: 30px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 5px;
  direction: rtl;
  }
.translat {
right: 0;
}

.saidbar .fa-angles-up {
  transform: rotate(-90deg);
  position: absolute;
  left: -25px;
 top: 200px;
 font-size: 25px;
 color: #fff;
 cursor: pointer;
}
.saidbar form label {
  position: relative;
}
.saidbar form label  .fa-magnifying-glass{
position: absolute;
top: -22px;
left: -150px;
cursor: pointer;
}
.saidbar::before {
 content: "";
 position: absolute;
 width: 30px;
 height: 30px;
 background-color: #000000d4;
 left: -30px;
 top: 198px;
 border-radius: 5px 0 0 5px;
text-align: center;
}


.saidbar ul{
list-style: none;
text-align: end;
}

.saidbar ul li{
  margin: 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  height: 100%;
  }

.saidbar ul li a{
 width: 100%;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  height: 100%;
  }

  .saidbar ul li a:hover{
  padding-right: 20px;
  color: red;
  transition: .5s;
    }

    .saidbar ul li a{
     text-decoration: none;
      }

/* end saidbar */


.headbar {
    width: 100%;
    background-color: #222;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.right {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    position: relative;
}
/* .right::before {
    content: "";
    position: absolute;
    width: 1px;
    background-color: black;
    height: 40px;
    left: 180px;
}  */

.righthb {
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 13px;
    
}
.rightlink {
    color: #fff;
    padding: 13px;
}

.rightlink ul {
   list-style: none;
   display: flex;
}
.rightlink ul li{
   margin-right: 10px;
   margin-left: 10px;
   cursor: pointer;
 }
 .rightlink ul li:hover{
   color: red;
   transition: .5s;
  }
  .rightlink ul li select{
  border-radius: 10px;
  cursor: pointer;
  }
  .rightlink ul li select option{
    border-radius: 10px;
    cursor: pointer;
    }
  .left {
    color: #fff;
    /* border: 1px solid black;
    padding: 13px; */
    margin-left: 50px;
  }
  .left i{
    color: #fff;
   margin-left: 10px;
   margin-right: 10px;
   cursor: pointer;
  }
  .left i:hover{
    color:red;
  transition: .5s;
  }
  .logo {
    width: 100%;
    height: 150px;
    position: relative;
  }
  .logo button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    background-color: none;
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}
  .logo img {
    width: 200px;
    position: absolute;
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
    
  }
  .navbar {
    width: 80%;
    height: 60px;
    border-top: 2px solid black ;
    border-bottom: 2px solid black ;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .navbar ul{
    width: 100%;
    direction: rtl;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .navbar ul li{
padding: 21px 7px 20px;
 font-weight: bold;
 
 cursor: pointer;
 position: relative;
  }
  .navbar ul li a{
    /* position: absolute; */
    text-decoration: none;
    color: #000;
     cursor: pointer;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     z-index: 5;
      }
  .navbar ul li:hover{
   color: #fff;
   background-color: red;
   transition: .5s;
     }


.navbar button:hover {
    background-color: red;
    color: #fff;
   
    
}
.news {
    width: 80%;
    height: 40px;
    margin: 20px auto;
    background-color: #ccc;
    position: relative;
    display: flex;
    align-items: center;
}
.news .impnews {
 position: absolute;
 right: 0;
 text-align: center; 
 font-weight: bold;
 background-color: red;
 color: #fff;
 padding: 10px;
}
.news p {
    position: absolute;
 right: 100px;
   }

   .news button {
    margin-left: 5px;
    padding: 5px;
    border: none;
   }

   /* start begphoto */
   .begphoto {
    width: 80%;
    margin: auto;
   }

   .begphoto {
    width: 80%;
    max-height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
   }
   .begphoto div{
    width: 49.5%;
    margin: 5px;
    height: 370px;
    overflow: hidden;
    position: relative;
   }
   

   .begphoto div img{
    width: 100%;
 
   }

   .begphoto div h4{
    position: absolute;
    background-color: red;
    bottom: 80px;
    right: 20px;
    padding: 10px;
    color: #fff;
   }
   .begphoto div p{
    position: absolute;
    bottom: 30px;
    right: 20px;
    padding: 10px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.686);
   }

/* end begphoto */

/* start smalephoto */
   .smalephoto {
    width: 80%;
    max-height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
   }

   .smalephoto div{
    width: calc(98% / 3);
    max-height: 230px;
    margin: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: .5s;
   }

   .smalephoto div:hover img{

    width: 102%;
    height: 102%;
  transition: .5s;
   }

   .smalephoto div img{
    width: 100% ;
    transition: .5s;
   }

   .smalephoto div h4{
    position: absolute;
    background-color: red;
    bottom: 80px;
    right: 20px;
    padding: 10px;
    color: #fff;
   }

   .smalephoto div p{
    position: absolute;
    bottom: 30px;
    right: 20px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.686);
   }
/* end smalephoto */
/* start about */
.about {
  width: 80%;
  min-height: 400px;
  margin: auto;
  border-top: 2px solid black;
  position: relative;
}

.about h1{
  width: 100%;
margin: 20px auto;
position: absolute;
text-align: center;
padding-top: 30px;
}

.about  .container {
  width: 100%;
  min-height: 200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.about  .container div{
width: calc(98% / 2);
margin: 10px;
border-radius: 10px;
overflow: hidden;
}
.about div video{
  width: 95%;
height: 95%;
  }
  .about div img{
    width: 100%;
  
    }

 .about-lf {

    text-align: center;
    padding-top: 50px;
    }

    .about-rt {
      padding-top: 50px;
      }

    .about .about-lf h3{
      
   margin: 20px;
   font-size: 25px;
   color: red;

      }
      .about .about-lf p{
        width: 90%;
        margin: 20px;
        font-size: 20px;
        /* text-align: end; */
     
           }
/* end about */
/* Symbols revolution start */

.symbols {
  padding-top: 100px;
  width: 80%;
  min-height: 400px;
  margin: auto;
  border-top: 2px solid black;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.symbols h1{
  width: 100%;
margin: 20px auto;
position: absolute;
text-align: center;
top: -20px;
padding-top: 30px;
}
.symbols .container {
  width: calc(90% / 2) ;
  min-height: 400px;
  margin: auto;
  padding-top: 60px;
  display: block;
  
}
.symbols .container .img img{
  width: 100%;
 
  margin: auto;

  
}
.symbols .container .content p{
  width: 100%;
 text-align: center;
  margin:20px auto;
  
}
/* Symbols revolution end */

/* start archif */

.archif {
  width: 80%;
  min-height: 400px;
  margin: auto;
  border-top: 2px solid black;
  position: relative;
}
.archif h1{
  width: 100%;
margin: 20px auto;
position: absolute;
text-align: center;
padding-top: 30px;
}
.archif .container {
  width: 80%;
  min-height: 250px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.archif .container div{
width: calc(98% / 2);
margin: 10px;
border-radius: 10px;

/* overflow: hidden; */

}
.archif div img{
  width: 100%;
  
  }



.archif .about-lf {

    text-align: center;
    position: relative;
    }
    .archif .container .about-lf::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 85%;
      bottom: 10px;
      right: 15px;
      background-color: red;
      z-index: -1;
      }

.archif .about-lf h3{
      
   margin: 20px;
   font-size: 25px;
   color: red;

      }
.archif .about-lf p{
        width: calc(99.5% - 40px);
        height: calc(83% - 40px);
        padding: 20px;
        position: absolute;
        bottom: 2px;
        left: 0;
        font-size: 16px;
        /* padding: 2.5px ; */
        display: flex;
        justify-content: center;
        align-items: center;
    line-height: 1.5;
        background-color: #ccc; 
           }

.archif .container .about-rt {
  margin-top: 20px;
  position: relative;
}

  .archif .container .about-rt::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 85%;
  bottom: 20px;
  left: 15px;
  background-color: red;
  z-index: -1;
  }

/* end archif */


/* start pranks */

.pranks {
  width: 80%;
  min-height: 250px;
  margin: auto;
  border-top: 2px solid black;
  position: relative;
}
.pranks h1{
  width: 100%;
margin: 20px auto;
position: absolute;
text-align: center;
padding-top: 30px;
}
.pranks  .container {
  width: 80%;
  min-height: 250px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.pranks  .container div{
width: calc(98% / 2);
margin: 10px;
border-radius: 10px;
overflow: hidden;
}
.pranks div img{
  width: 100%;

  }

.pranks .about-lf {

    text-align: center;
    
    }

.pranks .about-lf h3{
      
   margin: 20px;
   font-size: 25px;
   color: red;

      }
      .pranks .about-lf p{
        width: 90%;
        margin: 20px;
        font-size: 20px;
        line-height: 1.3;
     
           }

.pranks .container .about-rt {
 padding-top: 60px;
}


/* end pranks */

/* start data-bage */

.data-menu {
width: 100%;
margin: auto;
padding-top: 70px;
position: relative;
}

.data-menu table{
  width: 80%;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  }

  .data-menu table thead tr td{
    background-color: #ccc;
    height: 30px;
    border: 1px solid #555;
    width: calc(100% / 6);
    }



/* start data-bage */